@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none !important;
}
body {
  width: 100%;
}
.react-flow__handle {
  visibility: hidden;
}
